:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-dlue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-dlue);
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  line-height: 2rem;
}

.container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 70vw;
  max-width: 900px;
  background-color: white;
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
}

.card-picture {
  background: url(../images/drawers.jpg) no-repeat center/cover;
  height: 300px;
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.card-info {
  width: 60%;
  padding: 30px;
}

.card-info h1 {
  padding-bottom: 20px;
}

.card-info--extract {
  padding-bottom: 30px;
}

.card-info--avatar {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.card-info--avatar-left {
  display: flex;
  align-items: center;
}

.card-info--avatar-picture img {
  height: 40px;
  border-radius: 100px;
}

.card-info--avatar-info {
  padding-left: 1rem;
}

.imagesvg {
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--light-grayish-blue);
  border: 10px solid var(--light-grayish-blue);
}

.circle {
  border-radius: 100%;
}

/* Atribution */

footer {
  height: 5vh;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
